
@import url('https://fonts.googleapis.com/css2?family=Asap&family=Fredoka+One&family=Roboto&family=Ubuntu+Condensed&display=swap');
body{
  font-family: 'Roboto', sans-serif;
}
p{
  line-height:1.4em;
}
body h3{
  margin: 0;
  font-family: 'DM Sans', sans-serif;
}
h1{
  font-family: 'Fredoka One', cursive;
}
